body {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  padding-bottom: 3em;
  min-height: 150vh;
}

#title {
  font-family: monospace;
  font-weight: 300;
  text-align: center;
  font-size: 1.8vw;
}

#historial {
  margin: 0 auto;
  overflow-y: scroll;
  height: 60vh;
  width: 40%;
  background-color: #dadada;
}

.elemento {
  text-align: center;
  font-size: 1vw;
  font-family: monospace;
  font-weight: 300;
}

@media all and (max-width: 768px) {
  #title {
    font-size: 4vw;
  }

  #historial {
    height: 60vh;
    width: 80%;
  }

  .elemento {
    font-size: 3vw;
  }
}
