html,body 
    {
        margin:0;
        padding:0;
    }


    body{
      background: url(../../media/login_background.jpg) no-repeat center top;
      background-size: cover;
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
      position: relative;
      padding-bottom: 3em;
      min-height: 130vh;
  }

  

  a{
    text-decoration: none; /* Con esto le saco el underline y esas cosas que tienen los a */
    color: white;
  }
  
  
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Todo esto es una clase para que no se pueda seleccionar los elementos */
  }


.login-box {
  width: 20vw;
  height: 35vw;
  background: black;
  color: white;
  top: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -30%);
  box-sizing: border-box;
  padding: 3vw 2vh;
}

#mensaje{
  margin: 0;
padding: 0 0 2vw;
text-align: center;
font-size: 16px;
color: white;
}

.login-box h1{
  margin: 0;
  padding: 0 0 2vw;
  text-align: center;
  font-size: 1.5vw;
}

.login-box label{
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  font-size: 1vw;
}

.login-box input{
  width: 100%;
  margin-bottom: 20px;

}

.login-box input[type="text"],
.login-box input[type="password"]{
  border: none;
  border-bottom: 0.1vw solid white;
  background: transparent;
  outline: none;
  height: 4vh;
  color: white;
  font-size: 1vw;
}

.login-box input[type="submit"]{
  cursor: pointer;
  border: none;
  outline: none;
  height: 4vh;
  background: #199511;
  color: white;
  font-size: 2vh;
  border-radius: 1vw;
}

.login-box a{
  color: darkgrey!important;
  font-size: 0.8vw;
}

.login-box a:hover{
  color: white!important;
}

  /*Login*/


