body {
  max-width: 100vw;
  background-color: white;
}

li a {
  text-decoration: none;
  /* Con esto le saco el underline y esas cosas que tienen los a */
  color: black;
}

nav {
  width: 100%;
  height: 90px;
  z-index: 1;
}

#menupic {
  max-width: 100%;
  filter: invert(1);
}

.toggle-menu {
  position: absolute;
  top: 1.5vh;
  right: 2vw;
  cursor: pointer;
  /* Con esto hago que aparezca una manita en el mouse cuando se le pasa arriba */
  filter: invert(1);
  /* Con esto invierto los colores */
  width: 40px;
  z-index: 1;
  /* Con esto hago que aparezca arriba del todo. El z-index nos permite organizar las capas */
}

.main-menu {
  z-index: 1;
  width: 100%;
  height: 90px;
  display: flex;
  /*el display flex nos permite manipular la orientacion a gusto de los elementos hijos de un contenedor*/
  flex-direction: column;
  /* Con esto cada elemento del menú aparece abajo del otro */
  flex-wrap: nowrap;
  align-items: center;
  /*alinea en vertical*/
  margin: 0;
  padding: 0;
  transition: transform 0.3s;
  /* Esto hace que el menu se traslade a una velocidad determinada */
  transform: translateY(-1000%);
  /* Esto sirve para que el menu aparezca por defecto arriba, tan arriba que ni se ve */
}

.main-menu--show {
  transform: translateY(0);
  /* Esto hace que el menú vaya para abajo, en otras palabras que aparezca */
}

@media all and (min-width: 768px) {
  .main-menu {
    flex-direction: row;
    /* Con esto el menú aparece "En un mismo renglón" */
    transform: translateY(0);
    /* Con esto hago que el menú se vea si la pantalla supera los 768 pixeles de ancho */
  }

  .toggle-menu {
    display: none;
    /* El botón no se muestra si la pantalla supera los 768 pixeles de ancho */
  }

  .main-menu li {
    background: none !important;
    padding: 1em !important;
    font-weight: 300 !important;
    font-size: 1.3vw !important;
    /* Atributos que cambian. Lo más importante es que le sacamos el color de fondo */
  }
}

.main-menu li {
  background: rgba(0, 0, 0, 0.9);
  /* Le doy un color de fondo para que se vea correctamente */
  width: 100%;
  padding: 2.3em;
  /* Las unidades "em" sirven para delimitar según el ancho de la letra */
  text-align: center;
  float: left;
  /*propiedad que permite a diferentes elementos posicionarse al lado del otro*/
  margin: 0 1vw;
  /*margin acepta 2 (arriba y abajo, derecha e izquierda) y 4 (arriba, derecha, abajo, izquierda)*/
  list-style: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  /*propiedad que nos permite establecer el grosor de una fuente, va de 0 a 900 en centenas*/
  font-size: 3vw;
}

.main-menu li:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  transform: scale(1.1);
  /* Animaciones para cuando se le hace hover al menú */
}

#rosa {
  background-color: #DF173F;
  padding-left: 2vw;
  grid-column: 1;
  width: 20vw;
  min-height: 80vh;
  height: auto;
}

#muro {
  display: grid;
  grid-template-columns: 20vw 40vw 10vw;
  grid-template-rows: 25% 15% 15% 15% 15% 15%;
  column-gap: 5vw;
  background-color: #E15874;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
}

.profilepic {
  padding-left: 7%;
  grid-column: 1;
  width: 15vw;
  height: auto;
}

#profilename {
  grid-column: 1;
  color: white;
  font-family: monospace;
  font-size: 2vw;
  height: 0.3em;
}

#edit {
  color: white;
  grid-column: 1;
  font-family: monospace;
  font-size: 1.5vw;
  text-decoration: none;
}

#logout {
  grid-row: 1;
  color: white;
  grid-column: 3;
  margin-top: 5%;
  height: 1em;
  font-family: monospace;
  font-size: 1.2vw;
  text-decoration: none;
}

#historial {
  grid-row: 1;
  grid-column: 2;
  color: white;
  font-family: arial;
  font-size: 2vw;
}

.vino {
  grid-column: 2;
  color: white;
  font-family: monospace;
  font-size: 1.5vw;
}