body {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  padding-bottom: 3em;
  min-height: 150vh;
  z-index: -2;
}

.dropdown-content {
  color: black !important;
}

@keyframes animateRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#rosa {
  position: relative;
  display: flex;
  background-color: #df173f;
  padding-left: 2vw;
  grid-column: 1;
  width: 20vw;
  min-height: 80vh;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  animation: animateRight 1s forwards;
  z-index: 0;
}

#muro {
  display: grid;
  grid-template-columns: 20vw 40vw 10vw;
  grid-template-rows: 25% 15% 15% 15% 15% 15%;
  column-gap: 5vw;
  width: 80vw;
  height: 80vh;
  margin: 40px auto;
}

.profilepic {
  padding-left: 7%;
  grid-column: 1;
  width: 15vw;
  height: 15vw;
}

#profilename {
  grid-column: 1;
  color: white;
  margin: 0;
  font-family: monospace;
  font-size: 1.5vw;
  max-width: 12em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#editprofile {
  color: white;
  border: none !important;
  grid-column: 1;
  font-family: monospace;
  font-size: 1.2vw;
  text-decoration: none;
}

.mycards {
  color: white;
  border: none !important;
  grid-column: 1;
  font-family: monospace;
  font-size: 1.2vw;
  text-decoration: none;
}

#panelAdmin {
  color: black;
  grid-column: 1;
  font-family: monospace;
  font-size: 1.2vw;
  text-decoration: none;
}

.rango {
  color: white;
  font-family: monospace;
  font-size: 1vw;
  margin: 0;
}

#darth {
  grid-column: 1;
  width: 8vw;
  height: 8vw;
}

#leader {
  grid-column: 1;
  width: 8vw;
  height: 10vw;
}

#lider {
  font-family: monospace;
  font-size: 1vw;
  margin: 0;
  -webkit-text-stroke: 0.05vw white;
}

#historial {
  grid-row: 1;
  grid-column: 2;
  color: #df173f;
  font-family: arial;
  font-size: 2vw;
  animation: animateUp 1s forwards;
  z-index: -1;
}

.vino {
  grid-column: 2;
  color: #df173f;
  font-family: monospace;
  font-size: 1.5vw;
  white-space: nowrap;
}

#direcciones {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.direccion {
  padding-left: 1em;
  color: white;
  font-family: monospace;
  font-size: 1vw;
  line-height: 0.1em;
}

.hide {
  display: none !important;
}

@media all and (max-width: 768px) {
  #muro {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0;
    width: 90%;
    height: 80vh;
    margin: 40px auto;
  }

  #rosa {
    padding-left: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    height: auto;
    animation: none;
  }

  .profilepic {
    width: 150px;
    height: 150px;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: center;
  }

  #profilename {
    color: white;
    margin: 0;
    font-family: monospace;
    font-size: 32px;
    max-width: 12em;
    justify-self: start;
    align-self: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 50px;
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
  }

  #opciones {
    justify-self: start;
    align-self: end;
    text-align: left;
    grid-column: 2;
    grid-row: 1;
  }

  #editprofile {
    color: white;
    border: none !important;
    grid-column: 1;
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
  }

  .mycards {
    color: white;
    border: none !important;
    grid-column: 1;
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
  }

  #panelAdmin {
    color: black;
    grid-column: 1;
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
  }

  .rango {
    color: white;
    font-family: monospace;
    font-size: 16px;
    justify-self: start;
    align-self: start;
    margin-top: 30px;
    grid-column: 2;
    grid-row: 1;
  }
  #lider {
    margin-top: 30px;
    font-size: 16px;
  }

  #historial {
    grid-row: 1;
    grid-column: 2;
    color: #df173f;
    font-family: arial;
    font-size: 2vw;
    animation: animateUp 1s forwards;
    z-index: -1;
  }

  .vino {
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 16px auto;
    color: #df173f;
    font-family: monospace;
    font-size: 16px;
    white-space: nowrap;
  }

  #direcciones {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .direccion {
    text-align: right;
    color: white;
    font-family: monospace;
    font-size: 2vw;
  }
}
