body {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  padding-bottom: 3em;
  min-height: 150vh;
}

#title {
  font-family: monospace;
  font-weight: 300;
  text-align: center;
  font-size: 1.8vw;
}

.message {
  font-family: monospace;
  font-weight: 300;
  text-align: center;
  font-size: 1vw;
}

form {
  text-align: center;
}

form p {
  font-size: 1.5vw;
}

form input[type="text"] {
  width: 20vw;
  height: 3vh;
  font-size: 1.5vw;
}

form input[type="submit"] {
  width: 10vw;
  height: 3.5vh;
  font-size: 1vw;
}

form label {
  font-family: monospace;
  font-weight: 300;
  text-align: center;
  font-size: 1vw;
}

br {
  display: none;
}

#tarjetas {
  margin: 0 auto;
  overflow-y: scroll;
  height: 60vh;
  width: 40%;
  background-color: #dadada;
}

#tarjetas p {
  text-align: center;
  font-size: 1vw;
  font-family: monospace;
  font-weight: 300;
}

#tarjetas p a {
  text-decoration: none;
}

@media all and (max-width: 768px) {
  #title {
    font-size: 4vw;
  }

  .message {
    font-size: 3vw;
  }

  form p {
    font-size: 3vw;
  }

  form input[type="text"] {
    width: 60vw;
    height: 5vh;
    font-size: 3vw;
  }

  form input[type="submit"] {
    width: 20vw;
    height: 6vh;
    font-size: 3vw;
  }

  form label {
    font-size: 3vw;
  }

  br {
    display: block;
  }

  #tarjetas {
    height: 60vh;
    width: 80%;
  }

  #tarjetas p {
    font-size: 3vw;
  }
}
