nav {
  width: 100%;
  height: 9vh;
}
nav a{
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

img{
  max-width: 100%;
}

#menupic {
  max-width: 100%;
  filter: invert(1);
}

.language{
  width: 2vw;
  
}

#languages{
  background-color: black;
}
  
  .toggle-menu {
    position: absolute;
    top: 1.5vh;
    right: 2vw;
    cursor: pointer;
    /* Con esto hago que aparezca una manita en el mouse cuando se le pasa arriba */
    filter: invert(1);
    /* Con esto invierto los colores */
    width: 40px;
    z-index: 1;
    /* Con esto hago que aparezca arriba del todo. El z-index nos permite organizar las capas */
  }
  
  .main-menu {
    z-index: 1;
    width: 100%;
    height: 7vh;
    display: flex;
    /*el display flex nos permite manipular la orientacion a gusto de los elementos hijos de un contenedor*/
    flex-direction: column;
    /* Con esto cada elemento del menú aparece abajo del otro */
    flex-wrap: nowrap;
    align-items: center;
    /*alinea en vertical*/
    margin: 0;
    padding: 0;
    transition: transform 0.3s;
    /* Esto hace que el menu se traslade a una velocidad determinada */
    transform: translateY(-1000%);
    /* Esto sirve para que el menu aparezca por defecto arriba, tan arriba que ni se ve */
  }
  
  .main-menu--show {
    transform: translateY(0);
    /* Esto hace que el menú vaya para abajo, en otras palabras que aparezca */
  }
  
  @media all and (min-width: 768px) {
    .main-menu {
      flex-direction: row;
      /* Con esto el menú aparece "En un mismo renglón" */
      transform: translateY(0);
      /* Con esto hago que el menú se vea si la pantalla supera los 768 pixeles de ancho */
    }
  
    .toggle-menu {
      display: none;
      /* El botón no se muestra si la pantalla supera los 768 pixeles de ancho */
    }
  
    .main-menu li {
      background: none !important;
      padding: 1em !important;
      font-weight: 300 !important;
      font-size: 1.3vw !important;
      /* Atributos que cambian. Lo más importante es que le sacamos el color de fondo */
    }
  }
  
  .main-menu li {
    background: rgba(0, 0, 0, 0.9);
    /* Le doy un color de fondo para que se vea correctamente */
    width: 100%;
    padding: 2.3em;
    /* Las unidades "em" sirven para delimitar según el ancho de la letra */
    text-align: center;
    float: left;
    /*propiedad que permite a diferentes elementos posicionarse al lado del otro*/
    margin: 0 1vw;
    /*margin acepta 2 (arriba y abajo, derecha e izquierda) y 4 (arriba, derecha, abajo, izquierda)*/
    list-style: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    /*propiedad que nos permite establecer el grosor de una fuente, va de 0 a 900 en centenas*/
    font-size: 3vw;
  }
  
  .main-menu li:hover {
    cursor: pointer;
    transition: all 0.2s ease;
    transform: scale(1.1);
    /* Animaciones para cuando se le hace hover al menú */
  }




/* Dropdown Button */
.dropbtn {
  all: unset;
  cursor: pointer;
  white-space: nowrap;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-right: 5vw;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {

  transition: transform 0.3s; /* Esto hace que el menu se traslade a una velocidad determinada */
  transform: translateY(-200%);
  position: absolute;
  top: 7vh;
  right: 0;
  min-width: 14vw;
  z-index: -1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 1vw 1.4vw;
  width: 6vw;
  height: 3vh;
  margin: 0 auto;
  display: flex;
  color: black!important;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-weight: 300!important;
  font-size: 1vw!important;
  font-family: 'Roboto', sans-serif;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  transition: all 0.2s ease;
  transform: scale(1.05);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
  transform: translateY(0);
}

.menu-negro{
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#logout{
  border-top: 0.2vh solid black;
}

#edit{
  border-top: 0.2vh solid black;
}

  
  /* CSS MENU - fin*/