

body {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
  background-image: url(../../media/winery-factory.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed
}

a{
  text-decoration: none; /* Con esto le saco el underline y esas cosas que tienen los a */
  color: white;
}


.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mid_container{
  margin: 2vh auto 20vh auto;
  width: 90vw;
  height: 150vh;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

#nuestrahist{
  grid-row: 1;
  grid-column: 1;
  margin-top: 5em;
  justify-self: center;
  align-self: start;
}

#parrafo1{
  grid-row: 1;
  grid-column: 1;
  margin-top: 10em;
  width: 16em;
  justify-self: center;
  align-self: start;
}

#firstLocal{
  width: 30vw;
  height: auto;
  grid-row: 1;
  margin-top: 10vh;
  grid-column: 2;
  justify-self: center;
  align-self: center;
}

#firstLocalI{
  font-size: 1vw;
  grid-row: 1;
  grid-column: 2;
  margin-bottom: 7vh;
  margin-left: 8vw;
  justify-self: start;
  align-self: end;
}


.title{
  font-family: 'Noto Sans', sans-serif;
  font-size: 2vw;
}
.paragraph{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5vw;
}

#nuestrosobj{
  grid-row: 2;
  grid-column: 2;
  margin-top: 5em;
  justify-self: center;
  align-self: start;
}

#parrafo2{
  grid-row: 2;
  grid-column: 2;
  width: 16em;
  margin-top: 25vh;
  justify-self: center;
  align-self: center;
}

#partners{
  width: 30vw;
  height: auto;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  align-self: center;
}
#partnersI{
  font-size: 1vw;
  grid-row: 2;
  grid-column: 1;
  justify-self: start;
  margin-bottom: 15vh;
  margin-left: 8vw;
  align-self: end;
}





.footer {
  position: absolute;
  bottom: 0!important;
  padding: 1em 0;
  text-align: center;
  height: 10%;
  width: 100%;
  background-color: #111111;
}

.footer p {
  color: white;
  font-size: 1vw;
}





















@media all and (max-width: 768px) {

  #mid_container{
    height: 500vh;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    margin-bottom: 100vh;
  }

  
  #firstLocal{
    width: 80vw;
    grid-row: 2;
    grid-column: 1;
    align-self: start;
  }
  
  #firstLocalI{
    font-size: 4vw;
    grid-row: 2;
    grid-column: 1;
    margin-bottom: 0;
    margin-left: 8vw;
    justify-self: start;
    align-self: start;
  }
  
  
  .title{
    font-family: 'Noto Sans', sans-serif;
    font-size: 6vw;
  }
  .paragraph{
    font-family: 'Noto Sans', sans-serif;
    font-size: 4vw;
  }
  
  #nuestrosobj{
    grid-row: 3;
    grid-column: 1;
    margin-top: 3em;
    justify-self: center;
    align-self: start;
  }
  
  #parrafo2{
    grid-row: 3;
    grid-column: 1;
    width: 16em;
    justify-self: center;
    align-self: start;
  }
  
  #partners{
    width: 80vw;
    grid-row: 4;
    margin-top: 5vh;
    grid-column: 1;
    align-self: start;
  }
  #partnersI{
    font-size: 4vw;
    grid-row: 4;
    grid-column: 1;
    margin-bottom: 0;
    margin-left: 8vw;
    justify-self: start;
    align-self: start;
  }

  .footer {

    height: 5%;

  }
  .footer p {
    font-size: 3vw;
  }
}